# numpy - numerical python

In [1]:
import numpy as np
print(np.__version__)

1.20.3

In [2]:
a=np.array([1,2,3,4,5,6])
display(a)
print(type(a))
a.dtype
a.itemsize
a.shape
print(a.ndim)
a.nbytes

array([1, 2, 3, 4, 5, 6])

<class 'numpy.ndarray'>
1

24

In [3]:
b=a.copy()
b

array([1, 2, 3, 4, 5, 6])

In [4]:
b.tolist()

[1, 2, 3, 4, 5, 6]

# array operations

In [5]:
# Simple Array Math
# Element by element addition
a = np.array([1, 2, 3, 4, 6, 7])
b = np.array([1, 2, 3, 4, 5, 6])

print(a + b)

[ 2  4  6  8 11 13]

In [6]:
a * b

array([ 1,  4,  9, 16, 30, 42])

In [7]:
a ** b

array([     1,      4,     27,    256,   7776, 117649], dtype=int32)

In [8]:
# Math Functions

# create array from 0 to 10 = Generate 11 elements
x = np.arange(11.)
x

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [9]:
print(np.arange.__doc__)

arange([start,] stop[, step,], dtype=None, *, like=None)

    Return evenly spaced values within a given interval.

    Values are generated within the half-open interval ``[start, stop)``
    (in other words, the interval including `start` but excluding `stop`).
    For integer arguments the function is equivalent to the Python built-in
    `range` function, but returns an ndarray rather than a list.

    When using a non-integer step, such as 0.1, the results will often not
    be consistent.  It is better to use `numpy.linspace` for these cases.

    Parameters
    ----------
    start : integer or real, optional
        Start of interval.  The interval includes this value.  The default
        start value is 0.
    stop : integer or real
        End of interval.  The interval does not include this value, except
        in some cases where `step` is not an integer and floating point
        round-off affects the length of `out`.
    step : integer or real, optional
        Spacing between values.  For any output `out`, this is the distance
        between two adjacent values, ``out[i+1] - out[i]``.  The default
        step size is 1.  If `step` is specified as a position argument,
        `start` must also be given.
    dtype : dtype
        The type of the output array.  If `dtype` is not given, infer the data
        type from the other input arguments.
    like : array_like
        Reference object to allow the creation of arrays which are not
        NumPy arrays. If an array-like passed in as ``like`` supports
        the ``__array_function__`` protocol, the result will be defined
        by it. In this case, it ensures the creation of an array object
        compatible with that passed in via this argument.

        .. note::
            The ``like`` keyword is an experimental feature pending on
            acceptance of :ref:`NEP 35 <NEP35>`.

        .. versionadded:: 1.20.0

    Returns
    -------
    arange : ndarray
        Array of evenly spaced values.

        For floating point arguments, the length of the result is
        ``ceil((stop - start)/step)``.  Because of floating point overflow,
        this rule may result in the last element of `out` being greater
        than `stop`.

    See Also
    --------
    numpy.linspace : Evenly spaced numbers with careful handling of endpoints.
    numpy.ogrid: Arrays of evenly spaced numbers in N-dimensions.
    numpy.mgrid: Grid-shaped arrays of evenly spaced numbers in N-dimensions.

    Examples
    --------
    >>> np.arange(3)
    array([0, 1, 2])
    >>> np.arange(3.0)
    array([ 0.,  1.,  2.])
    >>> np.arange(3,7)
    array([3, 4, 5, 6])
    >>> np.arange(3,7,2)
    array([3, 5])

In [10]:
# start, stop, step
np.arange(1., 16., 2)

# start, stop, steps
np.arange(1., 16.)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15.])

# why numpy arrays are better than lists

In [11]:
import time
import numpy as np

vector_size = 1000000

def python_version():
    t1 = time.time()
    X = range(vector_size)
    Y = range(vector_size)
    # element by element addition
    Z = [ X[i] + Y[i] for i in range(len(X)) ]
    return time.time() - t1

def numpy_version():
    t1 = time.time()
    X = np.arange(vector_size)
    Y = np.arange(vector_size)
    Z = X + Y
    return time.time() - t1

t1 = python_version()
t2 = numpy_version()
print(t1, t2)

print("Numpy in this example is " + str(t1/t2) + " faster")

0.1921253204345703 0.005270957946777344
Numpy in this example is 36.449791930522885 faster

In [12]:
np.pi

x * np.pi

# applying a function to numpy array
print(x)
np.sin(x)

# exponential
np.e


# Array Indexing
a = np.array([1, 2, 3, 4, 6, 7])
print(a[0])

# Assigning a float into int32 array, it will truncate decimal part
a[0] = 11.987654
print(a)

[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]
1
[11  2  3  4  6  7]

In [13]:
# Change datatype of numpy array
arr = a.astype('float32')

print(arr)
arr[0] = 11.987654
print(arr)

[11.  2.  3.  4.  6.  7.]
[11.987654  2.        3.        4.        6.        7.      ]

# correct method including float type

In [14]:
# fill has some behavior.
a.fill(-4.7)
print(a)

[-4 -4 -4 -4 -4 -4]

In [15]:
arr_1 = np.empty(6, dtype = 'float32')
arr_1.fill(-7.2)
print(arr_1)

[-7.2 -7.2 -7.2 -7.2 -7.2 -7.2]

In [16]:
# dtype = float16. float32, float64
arr_2 = np.array([111.5, 200.6, 120, 300, 410.5, 501.2, 60.8], dtype = 'float16')
print(arr_2)

[111.5 200.6 120.  300.  410.5 501.2  60.8]

In [17]:
# print array at index values 0, 1, 2, 3, 4, 5 ..
print(arr[-1], arr[0], arr[2], arr[-4])

7.0 11.987654 3.0 3.0

# multidimensional array

In [18]:
# Create a 2-D Array
arr_2 = np.array([[0, 1, 2, 3, 4, 5],
                  [10, 11, 12, 13, 14, 15]])
print(arr_2)

[[ 0  1  2  3  4  5]
 [10 11 12 13 14 15]]

In [19]:

# Shape = (Rows, Columns)
arr_2.shape

(2, 6)

In [20]:

# array size = no of elements in 2D array
arr_2.size

12

In [21]:

# Dimention
arr_2.ndim

2

In [22]:

# Get/Set Elements in N-D Array
print(arr_2)

[[ 0  1  2  3  4  5]
 [10 11 12 13 14 15]]

In [23]:

# Indexing with 2-D Array
# first -1 is for last row & second -1 is for last column
arr_2[-1, -1]

15

In [24]:

# Display 3rd column, ':' means all rows
arr_2[:,2]

array([ 2, 12])

In [25]:

# Display 1st row
arr_2[0]

array([0, 1, 2, 3, 4, 5])

In [26]:
# Display 3rd column, ':' means all rows
arr_2[:,2]

array([ 2, 12])

In [27]:
# Display 1st row
arr_2[0]

array([0, 1, 2, 3, 4, 5])

In [28]:
# update the existing data in 2D Array
arr_2[0, 3] = 33
arr_2

array([[ 0,  1,  2, 33,  4,  5],
       [10, 11, 12, 13, 14, 15]])

In [29]:
arr_3 = np.array([10, 11, 12, 13, 14, 15, 16])
arr_3

array([10, 11, 12, 13, 14, 15, 16])

In [30]:

# start index 
arr_3[1:6]

array([11, 12, 13, 14, 15])

In [31]:
# displaying every another element
# for 1D
arr_3[::2]

array([10, 12, 14, 16])

In [32]:
# displaying every another element
# for 1D
arr_3[::2]

array([10, 12, 14, 16])

# array slicing

In [33]:
arr_3 = np.arange(0, 36).reshape(6,6)
arr_3

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [34]:
# slicing works much like standard python slicing
arr_3 [0, 1:5]

array([1, 2, 3, 4])

# reverse an array

In [35]:
arr_4 = np.arange(50)
print(arr_4)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49]

In [36]:
# -1 at index position reverses the array
arr_4 = arr_4[::-1]
arr_4

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0])

In [37]:
# Alternative method to reverse an array
arr_5 = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8])
print(arr_5)
reversed_arr = np.flipud(arr_5)
print(reversed_arr)

[0 1 2 3 4 5 6 7 8]
[8 7 6 5 4 3 2 1 0]

# array functions

1. arange
2.Ones,Zeros

In [38]:
# 3 rows & 6 columns
np.ones((3, 6), dtype = 'float32')

array([[1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.]], dtype=float32)

In [39]:

np.zeros((5, 5), dtype = 'uint8')     # uint8 = 0-255, int8 = -128 to +127

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]], dtype=uint8)

In [40]:
np.zeros(6)

array([0., 0., 0., 0., 0., 0.])

3. Identity

 create a N by N indentity matrix.the default datatype if float64

In [41]:
# Idenity Matrix
arr_7 = np.identity(7)         # Identity array have diagonal values as 1.
print(arr_7)

[[1. 0. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 0. 1.]]

In [42]:

arr_8 = np.identity(7, dtype = 'int')
print(arr_8)

[[1 0 0 0 0 0 0]
 [0 1 0 0 0 0 0]
 [0 0 1 0 0 0 0]
 [0 0 0 1 0 0 0]
 [0 0 0 0 1 0 0]
 [0 0 0 0 0 1 0]
 [0 0 0 0 0 0 1]]

4. empty and fill

empty(shape,dtype='float64',order='C')

In [43]:
np.empty(5)

array([1.24610994e-306, 1.37959808e-306, 9.34604358e-307, 1.44635488e-307,
       1.33511562e-306])

In [44]:
np.full(5, 5.0)

array([5., 5., 5., 5., 5.])

In [45]:
arr_9=np.empty(6)
arr_9.fill(5.0)
arr_9

array([5., 5., 5., 5., 5., 5.])

5. LinSpace

Generate N evenly spaced elements on a log scale bw start and stop(base value will be included)

In [46]:
# (start, stop, num of elements)
np.linspace(0, 1, 6)

array([0. , 0.2, 0.4, 0.6, 0.8, 1. ])

In [47]:
np.linspace(0, 1, 12).reshape(4,3)

array([[0.        , 0.09090909, 0.18181818],
       [0.27272727, 0.36363636, 0.45454545],
       [0.54545455, 0.63636364, 0.72727273],
       [0.81818182, 0.90909091, 1.        ]])

5. LogSpace

Generate N evenly spaced elements on a log scale bw start and base stop(default base =10)

In [48]:
np.logspace(0, 1, 6, base = 10)

array([ 1.        ,  1.58489319,  2.51188643,  3.98107171,  6.30957344,
       10.        ])

# exercise 2:  crate 2D array with 1 on the border & 0 inside the border

In [49]:
# shape of array = 10 x 10
arr_10 = np.ones((10,10))
arr_10[1:-1, 1:-1] = 0
print(arr_10)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

In [50]:
arr_10 = np.zeros((10,10))
arr_10[1:-1, 1:-1] = 2
print(arr_10)

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 2. 2. 2. 2. 2. 2. 2. 2. 0.]
 [0. 2. 2. 2. 2. 2. 2. 2. 2. 0.]
 [0. 2. 2. 2. 2. 2. 2. 2. 2. 0.]
 [0. 2. 2. 2. 2. 2. 2. 2. 2. 0.]
 [0. 2. 2. 2. 2. 2. 2. 2. 2. 0.]
 [0. 2. 2. 2. 2. 2. 2. 2. 2. 0.]
 [0. 2. 2. 2. 2. 2. 2. 2. 2. 0.]
 [0. 2. 2. 2. 2. 2. 2. 2. 2. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

#  exercise 2:  create 8x8 array with 1 and 0 in sequence

In [51]:
arr_10 = np.zeros((8,8),dtype='int8')
arr_10[1::2, ::2] = 1
arr_10[::2, 1::2] = 1
print(arr_10)

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

7.Arrays from / to txt files.

loadtxt() automatically generates an array from txt file

In [56]:
array_1 = np.loadtxt("E:/python/Dummy.txt", dtype = 'str', delimiter = " ", skiprows=1)
array_1

array([['1,', 'Shelly,', '88'],
       ['2,', 'Jack,', '96'],
       ['3,', 'Dyllan,', '65'],
       ['4,', 'Kate,', '79'],
       ['5,', 'Lily,', '78']], dtype='<U7')

In [57]:
array_2 = np.loadtxt("E:/python/Dummy.csv", dtype = 'str', delimiter = ",", skiprows=1)
array_2

array([['1', ' Shelly', ' 88'],
       ['2', ' Jack', ' 96'],
       ['3', ' Dyllan', ' 65'],
       ['4', ' Kate', ' 79'],
       ['5', ' Lily', ' 78']], dtype='<U7')

In [58]:
array_3 = [[10, 20, 30, 40, 50],
            [15, 25, 35, 45, 65]]

np.savetxt('E:/python/filename.txt', array_3, encoding = 'utf-8')

In [60]:
np.savetxt('E:/python/filename.txt', array_3, encoding = 'utf-8')

# numpy array calculation methods

In [77]:
array_4 = np.array([[1, 2, 4],
                    [4, 5, 6]])
array_4.sum()

22

In [ ]:

# supply the keyword axis to sum along the 0th axis
array_4.sum(axis = 0)

In [ ]:

# supply the keyword axis to sum along the 1st axis
array_4.sum(axis = 1)

In [ ]:

# Min Method
array_5 = np.array([2., 3., 4., 5., 9., 8.])
array_5.min(axis = 0)    # This returns minimum values along axis = 0

In [ ]:

# numpy's min()
np.min(array_5, axis = 0)

In [ ]:

# np.argmax - Use this for converting into decimal values
array_6 = [0., 0., 0., 0., 0., 1., 1., 0.]
np.argmax(array_6, axis = 0)

In [ ]:
# np.argmax - Use this for converting into decimal values
array_6 = [0., 0., 0., 0., 0., 1., 1., 0.]
np.argmax(array_6, axis = 0)

# Statistics Array Methods

In [ ]:
array_7 = np.array([[1, 2, 4],
                  [4, 5, 7]], float)
array_7

In [ ]:

# mean value of each column
array_7.mean(axis = 0)

np.mean(array_7, axis = 0)

In [ ]:
np.average(array_7, axis = 1)

In [ ]:

# average() can be also used for calculating weighted average
np.average(array_7, weights=[1,2], axis = 0)

In [ ]:
# Std Deviation - Measures the deviation of sample from its mean.
array_7.std(axis = 0)

In [ ]:
# VARIANCE 
array_7.var(axis = 0)

In [ ]:
# ROUND
arr = np.array([1.25, 3.24, 1.5, 2.5, 4.5, 3.6])
arr.round()

# Array broadcasting

Numpy array of differnet dimentionality can be combned in the same expression. arrays with smaller dimension are broadcasted to match the larger rry with copying data

In [ ]:
# BROADCAST
a = np.ones((3,5))
a

In [68]:
# BROADCAST
b = np.ones((3,5))
b

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [74]:
# reshape 
b = b.reshape(1, 15)
b

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [70]:
# Generate random integers
a = np.random.randint(10, 20, size = (3,5))
a

array([[16, 11, 13, 10, 19],
       [10, 10, 18, 12, 10],
       [14, 18, 14, 16, 13]])

In [63]:
b = np.ones(5,)
b.reshape(1, 5)

c = a + b
display(c)
a = np.random.randint(10, 50, size = 5)
b = np.random.randint(10, 50, size = 3)

a + b

array([[19., 13., 20., 17., 17.],
       [13., 14., 19., 17., 17.],
       [12., 19., 11., 16., 13.]])

ValueError: operands could not be broadcast together with shapes (5,) (3,)

# structure operations

In [76]:
# Structure Operations.
# Transpose Method
a = np.random.randint(10, 50, size = (5,3))
a

array([[34, 37, 15],
       [21, 43, 23],
       [13, 24, 17],
       [34, 41, 17],
       [20, 15, 29]])

In [ ]:
a.shape

In [ ]:
a.T

In [ ]:
a.T.shape

In [ ]:
# Flatten Method
a = np.array([[10, 13, 16],
               [13, 16, 19]])
a

In [75]:

a.shape

(3, 5)

In [ ]:

# Flatten 2-D


a.flatten()

In [ ]:
a = np.array([[[11, 13, 15],
             [13, 15, 17]],
            [[12, 15, 19],
             [13, 15, 17]],
            [[18, 21, 21],
             [10, 15, 17]]])
a.shape

In [ ]:
# Flatten out 3-D to 1D Array
a.flatten()

In [ ]:
# Ravel also flattens your multidimentional to 1D
a.ravel()

#### Exercise : Given 1 array , negate all elements that falls between 3 and 8

In [ ]:
arr=np.arange(15)
arr

In [ ]:
# selecting array by using their value
arr = np.arange(15)
n = (arr > 3) & (arr < 8)
arr[n] *= -1
arr

## Exercise 4 : How to find common vallues between two arrays ?

In [ ]:
arr_1 = np.random.randint(0, 10, 10)
print(arr_1)

arr_2 = np.random.randint(0, 10, 10)
print(arr_2)

np.intersect1d(arr_1, arr_2)

# exercise 5 : Using Numpy array find largest values of an array

#### generate 10000 numbers

In [ ]:
arr=np.arange(1,10000)
arr
arr.max(axis=0)

In [ ]:
np.max(arr)

# Exercise 6:using numpy array find the n number of largest values in an array

In [ ]:
arr=np.random.randint(1,10000)
arr

In [ ]:
arr4 = np.random.randint(1, 10000, 10000)

n = int(input("Enter the value of n: "))
np.sort(arr4)[-n:]

print(arr4[np.argsort(arr4)[-n:]])

In [ ]:
print(arr4[np.argpartition(-arr4, n)[:n]])

np.argsort(arr4)

np.argpartition(-arr4, n)

In [ ]:


np.argsort(arr4)

In [ ]:
np.argpartition(-arr4, n)

# Exercise 7: Get index of all null values in Numpy Array

In [ ]:
arr5 = np.array([[5., 7., 9.],
                 [4., 9., np.nan],
                [np.nan, 6, 8]])
np.argwhere(np.isnan(arr5))