In [1]:
import numpy as np
print(np.__version__)

1.20.3

## 1. How to concatenate two numpy arrays column-wise and row-wise?

In [2]:
a = np.array([[1, 2],[ 3, 4]])
b = np.array([[5,6],[7,8]])

In [3]:
array_1=np.concatenate((a,b),axis=1)
array_1

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

In [4]:
array_2=np.concatenate((a,b),axis=0)
array_2

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

## 2. Consider the random number generation functions in NumPy generate a set of random numbers using the function rand.

In [5]:
a = np.random.rand(10)
a

array([0.22456561, 0.74271896, 0.44811169, 0.5298657 , 0.58792835,
       0.90435293, 0.52722866, 0.27905719, 0.73803347, 0.34868823])

## 3. Create a 3D array of shape 5x3x2 to contain random decimal numbers between 5 and 10.

In [6]:
array3 = np.random.uniform(5,10, size=(5,3,2))
array3

array([[[8.63805945, 7.42208509],
        [6.3103893 , 6.79810924],
        [5.38816652, 6.81973936]],

       [[8.16905012, 5.93613977],
        [7.96334343, 9.21333715],
        [6.61771793, 6.51483831]],

       [[7.83361604, 9.92957263],
        [6.72584776, 5.14501835],
        [8.39340314, 7.32398357]],

       [[5.61598424, 9.9389344 ],
        [8.84584146, 8.53366441],
        [5.18886844, 6.88416463]],

       [[5.92103798, 8.92880223],
        [8.13770681, 5.92418425],
        [8.68028404, 8.64995603]]])

## 4. Create a utility function to generate random arrays using def random_array() takes number of elements as one of the argument, and randint() from random library.

In [7]:
import random
print(random.randint)

<bound method Random.randint of <random.Random object at 0x0000018BF0691C00>>

In [8]:

def random_array(n):
    res=random.sample(range(1,50,),n)
    return res
random_array(random.randint(1,10))

[49, 1, 14, 37, 45, 46]

## 5. Create and Compute median using both Naive method using python only and Numpy function np.median()

In [9]:
array_1=[1,2,3,4,5]
array_1
print("median : ",np.median(array_1))

median :  3.0

In [10]:

n = len(array_1)
array_1.sort()
  
if n % 2 == 0:
    mid1 = array_1[n//2]
    mid2 = array_1[n//2 - 1]
    median = (mid1 + mid2)/2
else:
    median = array_1[n//2]
print("Median is: " + str(median))

Median is: 3

## 6.	Create naive function to compute variance function, mean function using only python.

In [11]:
#### Mean 
import statistics

arr_3 = [1, 2, 3, 4, 5]
# n = len(arr_3)
  
# total = sum(arr_3)
# mean = total / n
  
# print("Mean : " + str(mean))
statistics.variance(arr_3)

2.5

In [12]:
#### Variance 

# res =sum((i - mean) ** 2 for i in arr_3)/ n
# print(str(res))
statistics.mean(arr_3)

3

## 7. Convert a 1D array to a 2D array with 2 rows.
e.g. 
Input Array: ([ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

Output: [[0, 1, 2, 3, 4],
 [5, 6, 7, 8, 9]]

In [13]:
array_1 = np.array([0,1,2,3,4,5,6,7,8,9])
array_1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
array_2D= np.reshape(array_1,(2,5))
array_2D

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

## 8. How to stack two arrays vertically? Stack arrays A and B vertically?

In [15]:
a=np.array([1,2,3,4])
b=np.array([5,6,7,8])
# array_2=np.concatenate((a,b),axis=0).reshape((2,4))
# array_2

vert=np.vstack((a,b))
vert

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

## 9. Create a function using numpy to get the common items between two python numpy arrays?

In [16]:
a=np.array([1,2,7,8,3,4])
b=np.array([5,4,6,7,8])
array_2=np.intersect1d(a,b)
array_2

array([4, 7, 8])

## 10. Create a python function to get the positions where elements of two arrays match using Numpy function?

In [17]:
a=np.array([1,2,7,8,3,4])
b=np.array([5,4,7,8,1,2])
np.where(a==b)

(array([2, 3], dtype=int64),)

## 11. How to create a 2D array containing random floats between 5 and 10?

In [18]:
array3 = np.random.uniform(5,10, size=(3,2))
array3

array([[8.57500161, 8.46657333],
       [9.46074964, 5.02348846],
       [7.08651834, 7.93283483]])

## 12.	Extract the text column species from the 1D iris imported using following url np.genfromtxt()
https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/iris.csv

In [19]:
import numpy as np
import pandas as pd

pd.__version__

'1.3.4'

In [20]:
iris_df = pd.read_csv("https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/iris.csv")
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [21]:
iris_df['species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

## 13. How to Convert the 1D iris to 2D array iris_2d by omitting the species column and dropping first row?

In [22]:
iris_df = pd.read_csv("https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/iris.csv")
df=iris_df.copy()
df
df.drop(index=[0],columns=['species'],inplace=True)
print(df)

     sepal_length  sepal_width  petal_length  petal_width
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
5             5.4          3.9           1.7          0.4
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[149 rows x 4 columns]

In [23]:
arr=df.values
arr

array([[4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [24]:
array_2D= np.reshape(df,(149,4))
array_2D

     sepal_length  sepal_width  petal_length  petal_width
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
5             5.4          3.9           1.7          0.4
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[149 rows x 4 columns]

## 14. How to compute the mean, median, standard deviation of a numpy array on the same iris dataset?

In [25]:
iris_df.agg(['mean','median','std'])

        sepal_length  sepal_width  petal_length  petal_width
mean        5.843333     3.057333      3.758000     1.199333
median      5.800000     3.000000      4.350000     1.300000
std         0.828066     0.435866      1.765298     0.762238

## 15. How to scale an array so the values range exactly between 0 and 1 using Admission.csv?
https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/Admission.csv
Change all the values in the range of 0-1.

In [26]:
ad_df = pd.read_csv("https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/Admission.csv")
ad1=ad_df.values
ad1

array([[  1.  , 337.  , 118.  , ...,   9.65,   1.  ,   0.92],
       [  2.  , 324.  , 107.  , ...,   8.87,   1.  ,   0.76],
       [  3.  , 316.  , 104.  , ...,   8.  ,   1.  ,   0.72],
       ...,
       [498.  , 330.  , 120.  , ...,   9.56,   1.  ,   0.93],
       [499.  , 312.  , 103.  , ...,   8.43,   0.  ,   0.73],
       [500.  , 327.  , 113.  , ...,   9.04,   0.  ,   0.84]])

In [27]:
def Normalize(data):
    return(data-np.min(data))/(np.max(data))-(np.min(data))
scaled=Normalize(ad1)
scaled

array([[0.002  , 0.674  , 0.236  , ..., 0.0193 , 0.002  , 0.00184],
       [0.004  , 0.648  , 0.214  , ..., 0.01774, 0.002  , 0.00152],
       [0.006  , 0.632  , 0.208  , ..., 0.016  , 0.002  , 0.00144],
       ...,
       [0.996  , 0.66   , 0.24   , ..., 0.01912, 0.002  , 0.00186],
       [0.998  , 0.624  , 0.206  , ..., 0.01686, 0.     , 0.00146],
       [1.     , 0.654  , 0.226  , ..., 0.01808, 0.     , 0.00168]])

## 16. Compute and Find the number and position of missing values in iris data’s sepal length column.
(And few missing values).

In [28]:
# iris_df.isnull().sum()

d=pd.isnull(iris_df["sepal_length"]).sum()
d

0

## 17. Drop rows that contain a missing value from a numpy array created by using iris dataset? 
Hint: There is no direct function for this hence, select the rows of Iris dataset that does not have any NaN value.

In [29]:
iris_df = pd.read_csv("https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/iris.csv")
arr=iris_df.values
arr

array([[5.1, 3.5, 1.4, 0.2, 'setosa'],
       [4.9, 3.0, 1.4, 0.2, 'setosa'],
       [4.7, 3.2, 1.3, 0.2, 'setosa'],
       [4.6, 3.1, 1.5, 0.2, 'setosa'],
       [5.0, 3.6, 1.4, 0.2, 'setosa'],
       [5.4, 3.9, 1.7, 0.4, 'setosa'],
       [4.6, 3.4, 1.4, 0.3, 'setosa'],
       [5.0, 3.4, 1.5, 0.2, 'setosa'],
       [4.4, 2.9, 1.4, 0.2, 'setosa'],
       [4.9, 3.1, 1.5, 0.1, 'setosa'],
       [5.4, 3.7, 1.5, 0.2, 'setosa'],
       [4.8, 3.4, 1.6, 0.2, 'setosa'],
       [4.8, 3.0, 1.4, 0.1, 'setosa'],
       [4.3, 3.0, 1.1, 0.1, 'setosa'],
       [5.8, 4.0, 1.2, 0.2, 'setosa'],
       [5.7, 4.4, 1.5, 0.4, 'setosa'],
       [5.4, 3.9, 1.3, 0.4, 'setosa'],
       [5.1, 3.5, 1.4, 0.3, 'setosa'],
       [5.7, 3.8, 1.7, 0.3, 'setosa'],
       [5.1, 3.8, 1.5, 0.3, 'setosa'],
       [5.4, 3.4, 1.7, 0.2, 'setosa'],
       [5.1, 3.7, 1.5, 0.4, 'setosa'],
       [4.6, 3.6, 1.0, 0.2, 'setosa'],
       [5.1, 3.3, 1.7, 0.5, 'setosa'],
       [4.8, 3.4, 1.9, 0.2, 'setosa'],
       [5.0, 3.0, 1.6, 0.2, 'setosa'],
       [5.0, 3.4, 1.6, 0.4, 'setosa'],
       [5.2, 3.5, 1.5, 0.2, 'setosa'],
       [5.2, 3.4, 1.4, 0.2, 'setosa'],
       [4.7, 3.2, 1.6, 0.2, 'setosa'],
       [4.8, 3.1, 1.6, 0.2, 'setosa'],
       [5.4, 3.4, 1.5, 0.4, 'setosa'],
       [5.2, 4.1, 1.5, 0.1, 'setosa'],
       [5.5, 4.2, 1.4, 0.2, 'setosa'],
       [4.9, 3.1, 1.5, 0.2, 'setosa'],
       [5.0, 3.2, 1.2, 0.2, 'setosa'],
       [5.5, 3.5, 1.3, 0.2, 'setosa'],
       [4.9, 3.6, 1.4, 0.1, 'setosa'],
       [4.4, 3.0, 1.3, 0.2, 'setosa'],
       [5.1, 3.4, 1.5, 0.2, 'setosa'],
       [5.0, 3.5, 1.3, 0.3, 'setosa'],
       [4.5, 2.3, 1.3, 0.3, 'setosa'],
       [4.4, 3.2, 1.3, 0.2, 'setosa'],
       [5.0, 3.5, 1.6, 0.6, 'setosa'],
       [5.1, 3.8, 1.9, 0.4, 'setosa'],
       [4.8, 3.0, 1.4, 0.3, 'setosa'],
       [5.1, 3.8, 1.6, 0.2, 'setosa'],
       [4.6, 3.2, 1.4, 0.2, 'setosa'],
       [5.3, 3.7, 1.5, 0.2, 'setosa'],
       [5.0, 3.3, 1.4, 0.2, 'setosa'],
       [7.0, 3.2, 4.7, 1.4, 'versicolor'],
       [6.4, 3.2, 4.5, 1.5, 'versicolor'],
       [6.9, 3.1, 4.9, 1.5, 'versicolor'],
       [5.5, 2.3, 4.0, 1.3, 'versicolor'],
       [6.5, 2.8, 4.6, 1.5, 'versicolor'],
       [5.7, 2.8, 4.5, 1.3, 'versicolor'],
       [6.3, 3.3, 4.7, 1.6, 'versicolor'],
       [4.9, 2.4, 3.3, 1.0, 'versicolor'],
       [6.6, 2.9, 4.6, 1.3, 'versicolor'],
       [5.2, 2.7, 3.9, 1.4, 'versicolor'],
       [5.0, 2.0, 3.5, 1.0, 'versicolor'],
       [5.9, 3.0, 4.2, 1.5, 'versicolor'],
       [6.0, 2.2, 4.0, 1.0, 'versicolor'],
       [6.1, 2.9, 4.7, 1.4, 'versicolor'],
       [5.6, 2.9, 3.6, 1.3, 'versicolor'],
       [6.7, 3.1, 4.4, 1.4, 'versicolor'],
       [5.6, 3.0, 4.5, 1.5, 'versicolor'],
       [5.8, 2.7, 4.1, 1.0, 'versicolor'],
       [6.2, 2.2, 4.5, 1.5, 'versicolor'],
       [5.6, 2.5, 3.9, 1.1, 'versicolor'],
       [5.9, 3.2, 4.8, 1.8, 'versicolor'],
       [6.1, 2.8, 4.0, 1.3, 'versicolor'],
       [6.3, 2.5, 4.9, 1.5, 'versicolor'],
       [6.1, 2.8, 4.7, 1.2, 'versicolor'],
       [6.4, 2.9, 4.3, 1.3, 'versicolor'],
       [6.6, 3.0, 4.4, 1.4, 'versicolor'],
       [6.8, 2.8, 4.8, 1.4, 'versicolor'],
       [6.7, 3.0, 5.0, 1.7, 'versicolor'],
       [6.0, 2.9, 4.5, 1.5, 'versicolor'],
       [5.7, 2.6, 3.5, 1.0, 'versicolor'],
       [5.5, 2.4, 3.8, 1.1, 'versicolor'],
       [5.5, 2.4, 3.7, 1.0, 'versicolor'],
       [5.8, 2.7, 3.9, 1.2, 'versicolor'],
       [6.0, 2.7, 5.1, 1.6, 'versicolor'],
       [5.4, 3.0, 4.5, 1.5, 'versicolor'],
       [6.0, 3.4, 4.5, 1.6, 'versicolor'],
       [6.7, 3.1, 4.7, 1.5, 'versicolor'],
       [6.3, 2.3, 4.4, 1.3, 'versicolor'],
       [5.6, 3.0, 4.1, 1.3, 'versicolor'],
       [5.5, 2.5, 4.0, 1.3, 'versicolor'],
       [5.5, 2.6, 4.4, 1.2, 'versicolor'],
       [6.1, 3.0, 4.6, 1.4, 'versicolor'],
       [5.8, 2.6, 4.0, 1.2, 'versicolor'],
       [5.0, 2.3, 3.3, 1.0, 'versicolor'],
       [5.6, 2.7, 4.2, 1.3, 'versicolor'],
       [5.7, 3.0, 4.2, 1.2, 'versicolor'],
       [5.7, 2.9, 4.2, 1.3, 'versicolor'],
       [6.2, 2.9, 4.3, 1.3, 'versicolor'],
       [5.1, 2.5, 3.0, 1.1, 'versicolor'],
       [5.7, 2.8, 4.1, 1.3, 'versicolor'],
       [6.3, 3.3, 6.0, 2.5, 'virginica'],
       [5.8, 2.7, 5.1, 1.9, 'virginica'],
       [7.1, 3.0, 5.9, 2.1, 'virginica'],
       [6.3, 2.9, 5.6, 1.8, 'virginica'],
       [6.5, 3.0, 5.8, 2.2, 'virginica'],
       [7.6, 3.0, 6.6, 2.1, 'virginica'],
       [4.9, 2.5, 4.5, 1.7, 'virginica'],
       [7.3, 2.9, 6.3, 1.8, 'virginica'],
       [6.7, 2.5, 5.8, 1.8, 'virginica'],
       [7.2, 3.6, 6.1, 2.5, 'virginica'],
       [6.5, 3.2, 5.1, 2.0, 'virginica'],
       [6.4, 2.7, 5.3, 1.9, 'virginica'],
       [6.8, 3.0, 5.5, 2.1, 'virginica'],
       [5.7, 2.5, 5.0, 2.0, 'virginica'],
       [5.8, 2.8, 5.1, 2.4, 'virginica'],
       [6.4, 3.2, 5.3, 2.3, 'virginica'],
       [6.5, 3.0, 5.5, 1.8, 'virginica'],
       [7.7, 3.8, 6.7, 2.2, 'virginica'],
       [7.7, 2.6, 6.9, 2.3, 'virginica'],
       [6.0, 2.2, 5.0, 1.5, 'virginica'],
       [6.9, 3.2, 5.7, 2.3, 'virginica'],
       [5.6, 2.8, 4.9, 2.0, 'virginica'],
       [7.7, 2.8, 6.7, 2.0, 'virginica'],
       [6.3, 2.7, 4.9, 1.8, 'virginica'],
       [6.7, 3.3, 5.7, 2.1, 'virginica'],
       [7.2, 3.2, 6.0, 1.8, 'virginica'],
       [6.2, 2.8, 4.8, 1.8, 'virginica'],
       [6.1, 3.0, 4.9, 1.8, 'virginica'],
       [6.4, 2.8, 5.6, 2.1, 'virginica'],
       [7.2, 3.0, 5.8, 1.6, 'virginica'],
       [7.4, 2.8, 6.1, 1.9, 'virginica'],
       [7.9, 3.8, 6.4, 2.0, 'virginica'],
       [6.4, 2.8, 5.6, 2.2, 'virginica'],
       [6.3, 2.8, 5.1, 1.5, 'virginica'],
       [6.1, 2.6, 5.6, 1.4, 'virginica'],
       [7.7, 3.0, 6.1, 2.3, 'virginica'],
       [6.3, 3.4, 5.6, 2.4, 'virginica'],
       [6.4, 3.1, 5.5, 1.8, 'virginica'],
       [6.0, 3.0, 4.8, 1.8, 'virginica'],
       [6.9, 3.1, 5.4, 2.1, 'virginica'],
       [6.7, 3.1, 5.6, 2.4, 'virginica'],
       [6.9, 3.1, 5.1, 2.3, 'virginica'],
       [5.8, 2.7, 5.1, 1.9, 'virginica'],
       [6.8, 3.2, 5.9, 2.3, 'virginica'],
       [6.7, 3.3, 5.7, 2.5, 'virginica'],
       [6.7, 3.0, 5.2, 2.3, 'virginica'],
       [6.3, 2.5, 5.0, 1.9, 'virginica'],
       [6.5, 3.0, 5.2, 2.0, 'virginica'],
       [6.2, 3.4, 5.4, 2.3, 'virginica'],
       [5.9, 3.0, 5.1, 1.8, 'virginica']], dtype=object)

In [30]:
# iris_df.dropna(how = 'any').shape
a=np.genfromtxt("https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/iris.csv",dtype=str,delimiter=',')
a

array([['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
        'species'],
       ['5.1', '3.5', '1.4', '0.2', 'setosa'],
       ['4.9', '3.0', '1.4', '0.2', 'setosa'],
       ['4.7', '3.2', '1.3', '0.2', 'setosa'],
       ['4.6', '3.1', '1.5', '0.2', 'setosa'],
       ['5.0', '3.6', '1.4', '0.2', 'setosa'],
       ['5.4', '3.9', '1.7', '0.4', 'setosa'],
       ['4.6', '3.4', '1.4', '0.3', 'setosa'],
       ['5.0', '3.4', '1.5', '0.2', 'setosa'],
       ['4.4', '2.9', '1.4', '0.2', 'setosa'],
       ['4.9', '3.1', '1.5', '0.1', 'setosa'],
       ['5.4', '3.7', '1.5', '0.2', 'setosa'],
       ['4.8', '3.4', '1.6', '0.2', 'setosa'],
       ['4.8', '3.0', '1.4', '0.1', 'setosa'],
       ['4.3', '3.0', '1.1', '0.1', 'setosa'],
       ['5.8', '4.0', '1.2', '0.2', 'setosa'],
       ['5.7', '4.4', '1.5', '0.4', 'setosa'],
       ['5.4', '3.9', '1.3', '0.4', 'setosa'],
       ['5.1', '3.5', '1.4', '0.3', 'setosa'],
       ['5.7', '3.8', '1.7', '0.3', 'setosa'],
       ['5.1', '3.8', '1.5', '0.3', 'setosa'],
       ['5.4', '3.4', '1.7', '0.2', 'setosa'],
       ['5.1', '3.7', '1.5', '0.4', 'setosa'],
       ['4.6', '3.6', '1.0', '0.2', 'setosa'],
       ['5.1', '3.3', '1.7', '0.5', 'setosa'],
       ['4.8', '3.4', '1.9', '0.2', 'setosa'],
       ['5.0', '3.0', '1.6', '0.2', 'setosa'],
       ['5.0', '3.4', '1.6', '0.4', 'setosa'],
       ['5.2', '3.5', '1.5', '0.2', 'setosa'],
       ['5.2', '3.4', '1.4', '0.2', 'setosa'],
       ['4.7', '3.2', '1.6', '0.2', 'setosa'],
       ['4.8', '3.1', '1.6', '0.2', 'setosa'],
       ['5.4', '3.4', '1.5', '0.4', 'setosa'],
       ['5.2', '4.1', '1.5', '0.1', 'setosa'],
       ['5.5', '4.2', '1.4', '0.2', 'setosa'],
       ['4.9', '3.1', '1.5', '0.2', 'setosa'],
       ['5.0', '3.2', '1.2', '0.2', 'setosa'],
       ['5.5', '3.5', '1.3', '0.2', 'setosa'],
       ['4.9', '3.6', '1.4', '0.1', 'setosa'],
       ['4.4', '3.0', '1.3', '0.2', 'setosa'],
       ['5.1', '3.4', '1.5', '0.2', 'setosa'],
       ['5.0', '3.5', '1.3', '0.3', 'setosa'],
       ['4.5', '2.3', '1.3', '0.3', 'setosa'],
       ['4.4', '3.2', '1.3', '0.2', 'setosa'],
       ['5.0', '3.5', '1.6', '0.6', 'setosa'],
       ['5.1', '3.8', '1.9', '0.4', 'setosa'],
       ['4.8', '3.0', '1.4', '0.3', 'setosa'],
       ['5.1', '3.8', '1.6', '0.2', 'setosa'],
       ['4.6', '3.2', '1.4', '0.2', 'setosa'],
       ['5.3', '3.7', '1.5', '0.2', 'setosa'],
       ['5.0', '3.3', '1.4', '0.2', 'setosa'],
       ['7.0', '3.2', '4.7', '1.4', 'versicolor'],
       ['6.4', '3.2', '4.5', '1.5', 'versicolor'],
       ['6.9', '3.1', '4.9', '1.5', 'versicolor'],
       ['5.5', '2.3', '4.0', '1.3', 'versicolor'],
       ['6.5', '2.8', '4.6', '1.5', 'versicolor'],
       ['5.7', '2.8', '4.5', '1.3', 'versicolor'],
       ['6.3', '3.3', '4.7', '1.6', 'versicolor'],
       ['4.9', '2.4', '3.3', '1.0', 'versicolor'],
       ['6.6', '2.9', '4.6', '1.3', 'versicolor'],
       ['5.2', '2.7', '3.9', '1.4', 'versicolor'],
       ['5.0', '2.0', '3.5', '1.0', 'versicolor'],
       ['5.9', '3.0', '4.2', '1.5', 'versicolor'],
       ['6.0', '2.2', '4.0', '1.0', 'versicolor'],
       ['6.1', '2.9', '4.7', '1.4', 'versicolor'],
       ['5.6', '2.9', '3.6', '1.3', 'versicolor'],
       ['6.7', '3.1', '4.4', '1.4', 'versicolor'],
       ['5.6', '3.0', '4.5', '1.5', 'versicolor'],
       ['5.8', '2.7', '4.1', '1.0', 'versicolor'],
       ['6.2', '2.2', '4.5', '1.5', 'versicolor'],
       ['5.6', '2.5', '3.9', '1.1', 'versicolor'],
       ['5.9', '3.2', '4.8', '1.8', 'versicolor'],
       ['6.1', '2.8', '4.0', '1.3', 'versicolor'],
       ['6.3', '2.5', '4.9', '1.5', 'versicolor'],
       ['6.1', '2.8', '4.7', '1.2', 'versicolor'],
       ['6.4', '2.9', '4.3', '1.3', 'versicolor'],
       ['6.6', '3.0', '4.4', '1.4', 'versicolor'],
       ['6.8', '2.8', '4.8', '1.4', 'versicolor'],
       ['6.7', '3.0', '5.0', '1.7', 'versicolor'],
       ['6.0', '2.9', '4.5', '1.5', 'versicolor'],
       ['5.7', '2.6', '3.5', '1.0', 'versicolor'],
       ['5.5', '2.4', '3.8', '1.1', 'versicolor'],
       ['5.5', '2.4', '3.7', '1.0', 'versicolor'],
       ['5.8', '2.7', '3.9', '1.2', 'versicolor'],
       ['6.0', '2.7', '5.1', '1.6', 'versicolor'],
       ['5.4', '3.0', '4.5', '1.5', 'versicolor'],
       ['6.0', '3.4', '4.5', '1.6', 'versicolor'],
       ['6.7', '3.1', '4.7', '1.5', 'versicolor'],
       ['6.3', '2.3', '4.4', '1.3', 'versicolor'],
       ['5.6', '3.0', '4.1', '1.3', 'versicolor'],
       ['5.5', '2.5', '4.0', '1.3', 'versicolor'],
       ['5.5', '2.6', '4.4', '1.2', 'versicolor'],
       ['6.1', '3.0', '4.6', '1.4', 'versicolor'],
       ['5.8', '2.6', '4.0', '1.2', 'versicolor'],
       ['5.0', '2.3', '3.3', '1.0', 'versicolor'],
       ['5.6', '2.7', '4.2', '1.3', 'versicolor'],
       ['5.7', '3.0', '4.2', '1.2', 'versicolor'],
       ['5.7', '2.9', '4.2', '1.3', 'versicolor'],
       ['6.2', '2.9', '4.3', '1.3', 'versicolor'],
       ['5.1', '2.5', '3.0', '1.1', 'versicolor'],
       ['5.7', '2.8', '4.1', '1.3', 'versicolor'],
       ['6.3', '3.3', '6.0', '2.5', 'virginica'],
       ['5.8', '2.7', '5.1', '1.9', 'virginica'],
       ['7.1', '3.0', '5.9', '2.1', 'virginica'],
       ['6.3', '2.9', '5.6', '1.8', 'virginica'],
       ['6.5', '3.0', '5.8', '2.2', 'virginica'],
       ['7.6', '3.0', '6.6', '2.1', 'virginica'],
       ['4.9', '2.5', '4.5', '1.7', 'virginica'],
       ['7.3', '2.9', '6.3', '1.8', 'virginica'],
       ['6.7', '2.5', '5.8', '1.8', 'virginica'],
       ['7.2', '3.6', '6.1', '2.5', 'virginica'],
       ['6.5', '3.2', '5.1', '2.0', 'virginica'],
       ['6.4', '2.7', '5.3', '1.9', 'virginica'],
       ['6.8', '3.0', '5.5', '2.1', 'virginica'],
       ['5.7', '2.5', '5.0', '2.0', 'virginica'],
       ['5.8', '2.8', '5.1', '2.4', 'virginica'],
       ['6.4', '3.2', '5.3', '2.3', 'virginica'],
       ['6.5', '3.0', '5.5', '1.8', 'virginica'],
       ['7.7', '3.8', '6.7', '2.2', 'virginica'],
       ['7.7', '2.6', '6.9', '2.3', 'virginica'],
       ['6.0', '2.2', '5.0', '1.5', 'virginica'],
       ['6.9', '3.2', '5.7', '2.3', 'virginica'],
       ['5.6', '2.8', '4.9', '2.0', 'virginica'],
       ['7.7', '2.8', '6.7', '2.0', 'virginica'],
       ['6.3', '2.7', '4.9', '1.8', 'virginica'],
       ['6.7', '3.3', '5.7', '2.1', 'virginica'],
       ['7.2', '3.2', '6.0', '1.8', 'virginica'],
       ['6.2', '2.8', '4.8', '1.8', 'virginica'],
       ['6.1', '3.0', '4.9', '1.8', 'virginica'],
       ['6.4', '2.8', '5.6', '2.1', 'virginica'],
       ['7.2', '3.0', '5.8', '1.6', 'virginica'],
       ['7.4', '2.8', '6.1', '1.9', 'virginica'],
       ['7.9', '3.8', '6.4', '2.0', 'virginica'],
       ['6.4', '2.8', '5.6', '2.2', 'virginica'],
       ['6.3', '2.8', '5.1', '1.5', 'virginica'],
       ['6.1', '2.6', '5.6', '1.4', 'virginica'],
       ['7.7', '3.0', '6.1', '2.3', 'virginica'],
       ['6.3', '3.4', '5.6', '2.4', 'virginica'],
       ['6.4', '3.1', '5.5', '1.8', 'virginica'],
       ['6.0', '3.0', '4.8', '1.8', 'virginica'],
       ['6.9', '3.1', '5.4', '2.1', 'virginica'],
       ['6.7', '3.1', '5.6', '2.4', 'virginica'],
       ['6.9', '3.1', '5.1', '2.3', 'virginica'],
       ['5.8', '2.7', '5.1', '1.9', 'virginica'],
       ['6.8', '3.2', '5.9', '2.3', 'virginica'],
       ['6.7', '3.3', '5.7', '2.5', 'virginica'],
       ['6.7', '3.0', '5.2', '2.3', 'virginica'],
       ['6.3', '2.5', '5.0', '1.9', 'virginica'],
       ['6.5', '3.0', '5.2', '2.0', 'virginica'],
       ['6.2', '3.4', '5.4', '2.3', 'virginica'],
       ['5.9', '3.0', '5.1', '1.8', 'virginica']], dtype='<U12')

## 18.	Sort the Admission dataset array based on TOEFL Score column and GRE Score. Use separate code for both.

In [31]:
ad_df = pd.read_csv("https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/Admission.csv")

ad_df['TOEFL Score'].sort_values()

368     92
28      93
79      93
411     94
347     94
      ...
81     120
97     120
297    120
143    120
497    120
Name: TOEFL Score, Length: 500, dtype: int64

In [32]:
ad_df['GRE Score'].sort_values()

377    290
117    290
168    293
79     294
272    294
      ...
81     340
84     340
143    340
384    340
429    340
Name: GRE Score, Length: 500, dtype: int64

## 19.	Compute the Euclidean distance between two arrays using Numpy linalg?

In [33]:
arr1=np.array([1,2,3,4])
arr2=np.array([5,6,7,8])
distance=np.linalg.norm(arr1-arr2)
distance

8.0

## 20. Compute and Find the duplicate entries in the given Numpy array and mark them as True. Create 1-D array

In [34]:
# array1=np.random.randint(0,5,10)
array1=np.array([1,2,3,2,4,4])
uniques=np.unique(array1)
res=[]
for i in array1:
    if i not in uniques:
        res.append(True)
    else:
        res.append(False)
        uniques=np.delete(uniques,np.where(uniques==i))
print("array :",array1)
print(res)

array : [1 2 3 2 4 4]
[False, False, False, True, False, True]

In [35]:
array1=np.array([1,2,3,2,3])
res=[]
uniques=[]
def duplicates(array1):
    for i in array1:
        if i in uniques:
            res.append(True)
        else:
            res.append(False)
            uniques.append(i)
    return res
print("array:",array1)
duplicates(array1)

array: [1 2 3 2 3]

[False, False, False, True, True]

## 21.How to replace all missing values with 0, in a numpy array using Admission.csv and iris.csv?

In [36]:
iris_df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [37]:
ad_df.isnull()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
495,False,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False
498,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,False,False,False,False